{% extends "layout.html.twig" %}


{% block content %}

<div class="container">

    <div class="d-flex flex-column align-items-center justify-content-center p-4">
    
        <div class="my-3">
            <label for="adresse">Adresse</label>
            <input type="text" id="adresse" placeholder="Adresse">
        </div>

        <div>
            <label for="ville">Ville</label>
            <input type="text" id="ville" placeholder="Ville">
        </div>


    
        <div class="my-3">
            <label for="">Prenom</label>
            <input type="text" placeholder="Prenom">
        </div>
        
        <div>
            <label for="">Nom</label>
            <input type="text" placeholder="Nom">
        </div>  

        <button type="button" id="button">Valider</button>




</div>
</div>
{% endblock content %}



