{% extends "layout.html.twig" %}

<div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center p-4">
        <div class="my-3">
            <label for="">Adresse</label>
            <input type="text" placeholder="Adresse">
        </div>

        <div>
            <label for="">Ville</label>
            <input type="text" placeholder="Ville">
        </div>

    </div>

</div>



{% endblock content %}